// Cores
    $cor-primaria:#325746;
    $cor-secundaria:#009172;
    $cor-terciaria:#F3F2EB;
    $cor-quartenaria:#31302F;
// Fontes
    $ft-principal:'DM Sans',sans-serif;
    $ft-destaque:'Anybody',sans-serif;

header{
    height: 15vh;
    width:  90%;
    margin: 1rem auto;
    background-color:#ffff;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 90px;
    box-shadow: 10px 10px 30px rgba(197, 197, 197, 0.226);

    .logo{
        img{
            height: auto;
            width: 300px;
           
        }
    }

    #menu{
        width: 800px;

        // Menu hambúrguer
            #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: #325746;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1 {
    width: 50%;
  }
  
  #bar2 {
    width: 75%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
        // Fim menu
        #menu-list{
            height: 30px;
            width: 100%;
            display: flex;

            flex-direction: row;
            justify-content: space-around;

            li{
                a{
                    font-family: $ft-principal;
                    color: #31302F;
                    font-size: 24px;
                    font-weight: 500;
                    transition: all 0.2s linear;
                   

                    &:hover{
                        color: #325746;
                        font-weight: 700;
                        padding-bottom: 5px;
                        border-bottom: 2px solid #009172;
                    }
                }
            }
        }
    }
}

