// Cores
$cor-primaria: #325746;
$cor-secundaria: #009172;
$cor-terciaria: #F3F2EB;
$cor-quartenaria: #31302F;

// Fontes
$ft-principal: 'DM Sans', sans-serif;
$ft-destaque: 'Anybody', sans-serif;

header {
  height: 15vh;
  width: 97%;
  position: fixed;
  top: 1rem;
  left: 1rem;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  .logo {
    height: auto;
    width: 230px;
  }

  #burguer {
    height: 64px;
    width: 64px;
    font-size: 54px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $cor-primaria;
    display: none; // Oculto por padrão, aparece em telas menores
  }

  #menu {
    #menu-list {
      position: absolute;
      top: 7rem;
      left: 0;
      height: 0; // Ajustado para animação
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      background-color: #fff;
      overflow: hidden;
      transition: height 0.5s ease-in-out;

      .menu-link {
        font-size: 23px;
        font-family: $ft-principal;
        color: $cor-quartenaria;
        font-weight: 500;
        opacity: 0; // Ajustado para animação
        transition: opacity 0.5s ease-in-out;
      }

      .btn-contato {
        width: 200px;
        padding: 15px;
        border: none;
        border-radius: 30px;
        font-size: 18px;
        color: #fff;
        background-color: $cor-quartenaria;
        transition: all 0.3s linear, opacity 0.5s ease-in-out;
        font-weight: 700;
        letter-spacing: 1px;
        font-family: $ft-principal;
        opacity: 0; // Ajustado para animação

        &:hover {
          color: #e0e0e0;
          background-color: $cor-primaria;
          box-shadow: 3px 3px 0px $cor-quartenaria;
        }
      }
    }

    &.open #menu-list {
      height: 500px; // Ajuste conforme necessário

      .menu-link,
      .btn-contato {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    padding: 10px 20px;
    justify-content: space-between;

    .logo {
      width: 200px;
    }

    #burguer {
      display: flex;
    }

    #menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: #fff;
      border-radius: 0 0 20px 20px;
      overflow: hidden;

      &.open {
        max-height: 500px; // Ajuste conforme necessário
      }

      #menu-list {
        flex-direction: column;
        justify-content: center;

        .menu-link {
          margin: 10px 0;
        }

        .btn-contato {
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  header {
    position: fixed;
    left: 1rem;
    width: calc(100% - 2rem); // ajuste de largura para menor padding

    .logo {
      width: 150px; // ajuste conforme necessário
    }

    #menu {
      width: 100%;
    }

    #menu-list {
      height: auto; // ajuste para altura dinâmica
      width: 100%;
      position: absolute;
      top: 7rem;
      left: 0;
      background-color: $cor-secundaria;
      display: flex;
      border-radius: 30px;
      flex-direction: column;
      align-items: center; // centraliza os itens
      justify-content: center; // centraliza os itens

      .menu-link,
      .btn-contato {
        color: #fff;
      }
    }
  }
}
