/* Variáveis */
:root{
    /* Fontes */
    --ft-principal:'DM Sans', sans-serif;
    --ft-destaque:'Anybody',sans-serif;

    /* Cores */
    --cor-primaria:#325746;
    --cor-secundaria:#009172;
    --cor-terciaria:#F3F2EB;
    --cor-quartenaria:#31302F;
}

