@use './variaveis-sass/variaveis.scss';

body {
    background-color: variaveis.$cor-terciaria;
}

// Header
header {
    height: 15vh;
    width: 90%;
    background-color: #FFFFFF;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 90px;
    box-shadow: 3px 0px 10px rgba(172, 172, 172, 0.185);

    .logo {
        max-width: 300px;
        width: 300px;

        img {
            height: 250px;
            width: 250px;
        }
    }

    // Menu
    #menu {
        display: flex;
        flex-direction: row;
        align-items: center;

        // Menu hambúrguer
        .burger {
            display: none;
            flex-direction: column;
            justify-content: space-around;
            width: 30px;
            height: 25px;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 10;

            span {
                width: 30px;
                height: 3px;
                background-color: #325746;
                border-radius: 10px;
                transition: all 0.3s linear;
                position: relative;
                transform-origin: center;
            }

            &.open span:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &.open span:nth-child(2) {
                opacity: 0;
            }

            &.open span:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }

        // Lista de menu
        ul {
            width: 800px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            list-style: none;

            // Links
            li {
                a {
                    font-size: 24px;
                    font-family: variaveis.$ft-principal;
                    color: variaveis.$cor-quartenaria;
                    position: relative;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: -5px;
                        left: 0;
                        background-color: #325746;
                        transition: width 0.3s ease-in-out;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    &:hover {
                        color: #325746;
                        font-weight: 600;
                    }
                }

                .btn-contato {
                    width: 200px;
                    font-size: 20px;
                    padding: 10px;
                    background-color: variaveis.$cor-quartenaria;
                    border: none;
                    border-radius: 30px;
                    color: variaveis.$cor-terciaria;
                    font-family: variaveis.$ft-principal;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        letter-spacing: 1px;
                        background-color: #325746;
                        font-weight: 600;
                    }

                    &::after {
                        content: none;
                    }
                }
            }
        }

        // Esconder menu em telas menores
        @media (max-width: 1024px) {
            ul {
                flex-direction: column;
                background-color: #FFFFFF;
                position: absolute;
                top: 10vh;
                right: 0;
                height: 90vh;
                width: 100%;
                padding-top: 3.5rem;
                transform: translateX(100%);
                transition: transform 0.3s ease-in-out;

                &.open {
                    transform: translateX(0);
                }

                li {
                    margin: 20px 0;
                }
            }

            .burger {
                display: flex;
            }
        }

        @media (max-width: 768px) {
            ul {
                width: 100%;
            }

            .burger {
                width: 25px;
                height: 20px;

                span {
                    width: 25px;
                }
            }
        }

        @media (min-width: 1025px) and (max-width: 1366px) {
            ul {
                justify-content: space-around;
            }
        }
    }
}
