#home{
    height: 100vh;
    width: 100%;
    background: url(./../assets/img-principais/Afeto\ web\ site\ \(1\).png) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.texto__container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-family: 'DM Sans', sans-serif;
    color: #f3f2eb;
}

.texto__destaque{
    color: #009172;
    font-family: 'DM Sans', sans-serif;
}

.texto__container h2{
    font-size: 17px;
    text-align: center;
}

.texto__container h1{
    font-size: 30px;
}

.btn-chamada{
    width: 200px;
    font-family: 'DM Sans', sans-serif;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 700;
    color: #f3f2eb;
    background-color: #009172;

}

/* Sobre */
#sobre{
    height: 136vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.conteudo-home{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: #f3f2eb;
    font-family: 'DM Sans', sans-serif;
}

.conteudo-home h1{
    text-align: center;
    font-size: 32px;
}

#sobre img{
    height: auto;
    width:300px;
    text-align: center;
}

/* Serviços */
#servicos{
    height: 150vh;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos h2{
    text-align: center;
    color: #31302f;
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
}

.container__cards{
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
    padding: 20px;
}

.card{
    height: 250px;
    width: 300px;
    font-family: 'DM Sans', sans-serif;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 3px 3px 10px #31302f3a;
    transition: all 0.3s ease-in-out;
}

.card img{
    height: 64px;
    width: 64px;
}

.card h3{
    color: #009172;
}
.card p{
    color: #AFAFAF;
}

.card:hover{
    color: #31302f;
    background-color: #e6f0ee;
}

/* Contato */
#contato{
    height: 130vh;
    padding: 10px;
    width: 100%;
    background-color: #7BBD9F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-contato{
    height: 990px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
}

.banner-form{
    height: 200px;
    width: 100%;
    background: url(/assets/img-principais/banner-form.png) top center no-repeat;
    background-size: cover;
    border-radius: 20px;
}

#form-contato form{
    height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

#form-contato form h1{
    font-size: 32px;
    font-family: 'DM Sans', sans-serif;
}

#form-contato form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-contato form div{
    font-family: 'DM Sans', sans-serif;
}

#form-contato form input{
    border: 1px solid #ccc;
    padding: 8px;
    font-family: 'DM Sans', sans-serif;
    border-radius: 10px;
}

#form-contato form input::placeholder{
    color: #ccc;
}

.btn-form{
    width: 200px;
    background-color: transparent;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #009172;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    
    font-family: 'DM Sans', sans-serif;
}

.btn-form:hover{
    background-color: #009172;
    color: #fff;
}