// Fontes
$ft-principal:'DM Sans',sans-serif;
$ft-destaque:'Anybody', sans-serif;

// Cores
$cor-primaria:#325746;
$cor-secundaria:#009172;
$cor-terciaria:#f3f2eb;
$cor-quartenaria:#31302F;

main {
    #home {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
        align-items: center;
        min-height: 100vh;
        padding: 20px;
        box-sizing: border-box;

        .banner__home {
            width: 50%;
            height: auto;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .texto__container {
            width: 50%;
            padding: 20px;
            font-family: $ft-principal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            h2 {
                font-size: 2rem;
                color: $cor-secundaria;
                text-align: left;

                .texto__destaque {
                    font-family: $ft-destaque;
                    color: $cor-primaria;
                }
            }

            h1 {
                font-size: 3rem;
                color: $cor-quartenaria;
            }

            p {
                font-size: 1.25rem;
                color: $cor-quartenaria;
            }

            .btn-chamada {
                width: fit-content;
                padding: 15px 30px;
                font-family: $ft-principal;
                font-size: 1rem;
                border-radius: 30px;
                border: none;
                background-color: #009172;
                color: $cor-terciaria;
                transition: all 0.3s ease-in-out;
                align-self: start;

                &:hover {
                    background-color: #00795e;
                    transform: translateY(-5px);
                }
            }
        }
    }

    @media (max-width: 1024px) {
        section#home {
            flex-direction: column;
            align-items: flex-start;

            .banner__home {
                width: 100%;
                height: auto;
            }

            .texto__container {
                width: 100%;
                padding: 20px;
            }
        }
    }

    @media (max-width: 768px) {
        section#home {
            .banner__home {
                height: 40vh;
            }

            .texto__container {
                h2 {
                    font-size: 1.75rem;
                }

                h1 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1rem;
                }

                .btn-chamada {
                    width: fit-content;
                    padding: 10px 20px;
                    font-size: 0.875rem;
                }
            }
        }
    }

    @media (max-width: 480px) {
        section#home {
            .banner__home {
                height: 30vh;
            }

            .texto__container {
                h2 {
                    font-size: 1.5rem;
                }

                h1 {
                    font-size: 2rem;
                }

                p {
                    font-size: 0.875rem;
                }

                .btn-chamada {
                    width: fit-content;
                    padding: 10px 15px;
                    font-size: 0.75rem;
                }
            }
        }
    }
}